 h1 {
        color: red;
        font-size: 48px;
        text-align: center;
    }
    p1 {
        color: blue;
        font-size: 24px;
        text-align: left;
    }
    label {
        color: green;
        font-size: 20px;
    }
    input {
        border: 2px solid black;
        padding: 5px;
        font-size: 16px;
    }
    label:hover {
        color: orange;
    }   
    b {
        color: purple;
        font-size: 18px;
        font-style: italic;
    }   